<p><%= @judge.name %></p>

<div>
  Thank you for agreeing to participate as a judge in Edible's contest.
</div>

<div>
  <p>Your assigned articles by category are:</p>
  <% @details.each do |area_id, documents| %>
      <p>
        <strong><%= Area.find(area_id).name %></strong>
      </p>
      <% documents.each do |document| %>
          <li>
            <a href="https://www.bashkoff-family.com/edible/<%= document.link %>"><%= document.pretty_title %></a>
          </li>
      <% end %>
  <% end %>
</div>

<br/><br/>
<div>
  <strong>Special instructions:</strong>
  <ul>
    <% @judge.areas.pluck(:instructions).each do |instruction| %>
        <li><%= instruction %></li>
    <% end %>
  </ul>
</div>