<p><%= @judge.name %></p>

<div>
  Thank you for agreeing to participate as a judge in Edible's contest.
</div>

<div>
  <p>Your assigned articles by category are:</p>
  <% @details.each do |area_id, documents| %>
      <p>
        <strong><%= Area.find(area_id).name %></strong>
      </p>

      <p>
        <%= Area.find(area_id).instructions %>
      </p>
      <% documents.each do |document| %>
          <% if document.code.start_with?("SI") %>
              <li>
                <%= document.pretty_title %>
              </li>
          <% else %>
              <li>
                <a href="<%= document.link %>"><%= document.pretty_title %></a>
              </li>
          <% end %>
      <% end %>
  <% end %>
</div>
