<p>Dear <%= get_first_name(@judge.name) %>,</p>

<div>
  <p>
    This is a follow-up. Below are listed categories that you voted on.
  </p>

  <p>
    Depending on your browser, each link will either open up a new window or tab
    or potentially even download the PDF or jpeg to your computer. If you
    experience any problems viewing your entries, please email
    <a href="mailto:eddyawards@ediblemedia.com">eddyawards@ediblemedia.com</a>
    to let us know.
  </p>

  <p>
    Once again, thanks so much for being a crucial part of the EDDY Awards.
    Please quickly reply to this email so we know you received it.
  </p>

  <p>
    My best,<br/>Lara Bashkoff
  </p>

  <p>
    Chief Digital Officer, Edible Media<br/>
    <a href="mailto:lara@ediblemedia.com">lara@ediblemedia.com</a>
  </p>

  <p>
    P.S. Your selections will help determine 5 finalists in each category,
    which
    have been posted on <a href="ediblefeast.com">ediblefeast.com</a>.
  </p>

  <hr/>
</div>

<div>
  <p>The categories you voted on that had winning articles are:</p>
  <% @details.each do |major_code, categories| %>
      <p>
        <strong><%= get_major(major_code) %></strong>
      </p>
      <% categories.each do |category| %>
          <div style="margin-left: 25px;">
            <li>
              <a href="<%= category.url %>"><%= category.name %></a>
            </li>
          </div>
      <% end %>
      <br/>
  <% end %>
</div>
<br/>
<hr/>
<br/>
<span style="color: white"><%= @email_code %></span>
