<p>Dear <%= get_first_name(@judge.name) %>,</p>

<div>
  <p>
    Thank you for agreeing to judge the 2016 EDDY Awards! We are absolutely thrilled
    and honored to have you join us in helping recognize the wonderful work produced
    by the independent publishers who make up Edible Communities.
  </p>

  <p>
    Below are the links to entries for you to view and judge. Please reply to this
    email by Wednesday, May 11<sup>th</sup>, with your favorite selection from each category with
    a sentence or two that describes what you especially like about the piece. We’ll
    also need you to select a runner up in each category and provide a soundbite as
    well. A few of the categories have different selection instructions, which will
    be noted below the category. While the list of links may look long, many of the
    entries require just a few minutes of your time. Feature, Story and Special Issue
    categories involve more reading while Recipe and Imagery categories are
    quick views of visuals.
  </p>

  <p>
    Depending on your browser, each link will either open up a new window or tab
    or potentially even download the PDF or jpeg to your computer. If you
    experience any problems viewing your entries, please email
    <a href="mailto:eddyawards@ediblemedia.com">eddyawards@ediblemedia.com</a> to let us know.
  </p>

  <p>
    Again, we thank you so much for being a crucial part of the EDDY Awards.
    Please quickly reply to this email so we know you received it.
  </p>

  <p>
    All best,<br/>Susie Lee
  </p>

  <p>
    Director of Operations, Edible Media<br/>
    <a href="mailto:susie@ediblemedia.com">susie@ediblemedia.com</a>
  </p>

  <p>
    P.S. Your selections in this phase will help determine 5 finalists in each category,
    which will be posted to <a href="ediblefeast.com">ediblefeast.com</a> for Readers’ Choice
    winners on Wednesday, May 25. Your vote will also inform Critics’ Choice winners.
    All winners will be revealed online on Wednesday, June 15.
  </p>

  <hr/>
</div>

<div>
  <p>Your entries by category are:</p>
  <% @details.each do |major_code, articles| %>
      <p>
        <strong><%= get_major(major_code) %></strong>
      </p>

      <p>
        <%= get_instructions(major_code) %>
      </p>

      <% articles.group_by(&:category_id).each do |category_id, docs| %>
          <div style="margin-left: 25px;">
            <p>
              <strong><%= Category.find(category_id).name %></strong>
            </p>
            <% docs.each do |doc| %>
                <% if doc.code.start_with?("SI") %>
                    <li>
                      <%= doc.pretty_title %>
                    </li>
                <% else %>
                    <li>
                      <a href="<%= doc.link %>"><%= doc.pretty_title %></a>
                    </li>
                <% end %>
            <% end %>
          </div>
      <% end %>
      <br/>
  <% end %>
</div>
<br/>
<hr/>
<br/>
<span style="color: white"><%= @email_code %></span>
