<p>Dear <%= get_first_name(@resource.name) %>,</p>

<div>
  <p>
    Thank you for agreeing to judge the 2<sup>nd</sup> phase of the 2015 EDDY
    Awards! 45+ judges culled more than 1,000 entries down to the set you’re
    judging now.
  </p>

  <p>
    Below are links to these top entries along with the number we’d like you to
    select in each category. You may even recognize some of these entries, but
    we’d like you to choose your favorites among this new group. Please reply
    to this email by <strong>Thursday, February 19</strong> with your top
    choice
    and your other favorites (up to the number requested) with a sentence or two
    that describes what you especially like about the piece. In some cases, you
    may receive another email tomorrow with a smaller set.
  </p>

  <p>
    Depending on your browser, each link will either open up a new window or tab
    or potentially even download the PDF or jpeg to your computer. If you
    experience any problems viewing your entries, please email
    <a href="mailto:eddyawards@ediblemedia.com">eddyawards@ediblemedia.com</a>
    to let us know.
  </p>

  <p>
    Shortly after this 2<sup>nd</sup> phase is complete, we’ll be opening the
    public voting
    period for Readers’ Choice winners. We’ll keep you posted so you can see how
    all the finalists are doing. We hope you’ll help us spread the word!
  </p>

  <p>Many thanks again for judging the EDDY Awards!</p>

  <p>
    My best,<br/>Lara Bashkoff
  </p>

  <p>
    Chief Digital Officer, Edible Media<br/>
    <a href="mailto:lara@ediblemedia.com">lara@ediblemedia.com</a>
  </p>

  <hr/>
</div>

<div>
  <p>Your entries by category are:</p>
  <% @details.each do |major_code, article_infos| %>
      <p>
        <strong><%= get_major(major_code) %></strong>
      </p>

      <p>
        <%= get_instructions(major_code) %>
      </p>

      <% article_infos.group_by { |i| i[:article].category }.each do |category, doc_infos| %>
          <div style="margin-left: 25px;">
            <p>
              <strong><%= "#{category.name}" %></strong><br/>
              <% if @numbers_to_pick[category] == 1 %>
                  <%= "Please select one article below." %>
              <% else %>
                  <%= "Please select #{@numbers_to_pick[category]} articles and note which is your #1 choice." %>
              <% end %>
            </p>
            <% doc_infos.sort_by { |d| d[:article].code }.each do |doc_info| %>
                <% if doc_info[:article].code.start_with?("SI") %>
                    <li>
                      <%= doc_info[:article].pretty_title %>
                    </li>
                <% else %>
                    <li>
                      <a href="<%= doc_info[:article].link %>"><%= doc_info[:article].pretty_title %></a>
                    </li>
                <% end %>
            <% end %>
          </div>
      <% end %>
      <br/>
  <% end %>
</div>
<br/>
<hr/>
<br/>
<span style="color: white"><%= @email_code %></span>
